h1{
    font-family: serif;
}
p{
    font-family: serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.container{
    margin-inline: auto;
    margin-block-start: 50vh;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: revert;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-evenly;
}
.input{
    height: calc(1.25rem);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}
.input:invalid{
    border: 2px solid   #C60000;
    
}
input:valid {
    border: 2px solid #00A700;
}
.button{
    padding: 5px 83px;
    font-family: serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    transition: all 1s ease-in-out;
}
.button:hover{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(17, 255, 0, 0.019);
}
.button:active{
    background-color: #cb7dcb ;
}
